@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 960px) {
	html {
		margin-left: calc(100vw - 100%);
		margin-right: 0;
	}
}

@layer base {
	@font-face {
		font-family: 'Junicode';
		src:
			local('Junicode'),
			url('/fonts/Junicode.woff') format('woff');
	}
	@font-face {
		font-family: 'Wotfard';
		src:
			local('Wotfard'),
			url('/fonts/wotfard-regular-webfont.woff2') format('woff');
	}
	body {
		@apply subpixel-antialiased;
	}
}

body {
	font-family:
		Wotfard,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	color: #53565a;
	background-color: #fcfcfc;
}

.textshadow {
	color: transparent;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
