@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 960px) {
	html {
		margin-left: calc(100vw - 100%);
		margin-right: 0;
	}
}



@layer base {
	@font-face {
		font-family: 'Junicode';
		src: local('Junicode'), url('static/fonts/Junicode.woff') format('woff');
	}
	body {
		@apply subpixel-antialiased;
	}
}

body {
	font-family: 'junicode';
	color: #53565a;
	background-color: #fcfcfc;
}

.textshadow {
	color: transparent;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
