@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 960px) {
	html {
		margin-left: calc(100vw - 100%);
		margin-right: 0;
	}
}

@layer base {
	h1,
	h2,
	h3,
	h4 {
		@apply font-bold text-[#331f22];
	}
}

@layer base {
	@font-face {
		font-family: 'Junicode';
		src: local('Junicode'), url('/static/fonts/Junicode.woff') format('woff');
	}
	body {
		@apply subpixel-antialiased leading-7;
	}
}

body {
	font-family: 'junicode';
	color: #53565a;
	background-color: #fcfcfc;
}

article > p {
	margin-bottom: 1.5rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
}

article > h2 {
	margin-bottom: 1rem;
	margin-top: 2rem;
	font-size: 1.5rem;
	line-height: 1.2rem;
}

.textshadow {
	color: transparent;
	text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
